{% extends "app/base.html" %}
{% load static %}


{% block content %}

<div class="card card-profile my-5 mx-auto">
    <div class="card-body">
        <h5 class="card-title text-center">プロフィール</h5>
        <table class="profile_table mb-4">
            <tbody>
                <tr>
                    <th class="header">プロフィール画像</th>
                    <td class="data">
                        {% if user_data.icon %}
                        <img class="profile-logo" src="{{ user_data.icon.url }}" alt="" style="width:50px; height:50px; object-fit:cover;"/>
                        {% else %}
                        <img class="profile-logo" src="{% static 'img/user.png' %}" alt="ゲスト" style="width:50px; height:50px; object-fit:cover;"/>
                        {% endif %}
                        
                    </td>
                </tr>
                <tr>
                    <th class="header">ニックネーム</th>
                    <td class="data">{{ user_data.name }}</td>
                </tr>
                <tr>
                    <th class="header">ベストスコア</th>
                    <td class="data">
                        <div class="d-flex">
                          <p>L:{{ user_data.max_listening }}　</p>
                          <p>R:{{ user_data.max_reading }}　</p>
                          <p>Total:{{ max_total}}</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="header">ベストスコア</th>
                    <td class="data">
                        <div class="d-flex">
                          <p>L:{{ user_data.first_listening }}　</p>
                          <p>R:{{ user_data.first_reading }}　</p>
                          <p>Total:{{ first_total}}</p>
                        </div>
                    </td>
                </tr>
                <tr>
                  <th class="header">職業</th>
                  <td class="data">{{ user_data.ocupation }}</td>
                </tr>
                <tr>
                  <th class="header">自己紹介</th>
                  <td class="data">{{ user_data.content }}</td>
                </tr>
            </tbody>
        </table>
        {% if request.user == user_data.name %}
        <div class="button mx-auto">
            <a class="btn btn-lg btn-warning btn-block" href="{% url 'profile_edit' %}">編集する</a>
        </div>
        {% endif %}
    </div>
</div>

{% for post in post_data %}


<div class="study-container mx-auto mt-2 w-100">
  <a href="{% url 'post_detail' post.id %}" class="study-anchor">
      <div class="study-frame mx-auto col-sm-12 col-md- col-lg-8 p-0">
          <div class="frame-top mb-1"></div>
          <div class="study-author d-flex w-100 pl-5">
              <div class="icon-frame mt-2 mr-4 mt-3 text-center">
                  <img src="{{ post.author.icon.url }}" alt="" class="icon my-2 study-icon" style="height: 40px; width: 40px;">
              </div>
              <div class="author-name h2 mt-3">
                  <p class="author">{{post.author.name}}さん</p>
              </div>
          </div>
          <hr class="study-author-line study-line w-100 mt-0">
          <div class="d-flex study-content w-100 pb-4">
              <div class="study-list mt-5 ml-3" >
                  <img src="{{ post.image.url }}" alt="" class="icon study-icon" style="height: 200px; width: auto; object-fit: contain;">
              </div>
              <div class="study-list w-100 ml-4">
                  <div class="d-flex">
                      <p class="study-item h3">{{ post.title }}</p>
                      <div class="level_time mr-5">
                          <p class="study-item">レベル：{{ post.level }}</p>
                          <p class="study-item">平均勉強時間/日：{{ post.study_time }}</p>
                          <p class="study-item">分類：{{ post.group }}</p>
                          <p class="study-item">Part:
                            {% for part in post.part.all %} 
                            {{ part }}
                            {% endfor %}
                          </p>
                      </div>
                  </div>  
                  <p class="study-book ">参考書名:{{ post.textbook }}</p>
                  <hr class="text-bool-line study-line" style="width: 200px;">
                  <p class="study-content"><span class="how-to-study">勉強法:</span><div class="">{{ post.content }}</p>
                  <div class="d-flex good-frame mr-2 w-50 ml-auto">
                      <div class="d-flex justify-content-center align-items-center">
                      <div class="btn good-button ml-5 mr-5">
                          <a href="{% url 'study_like' post.id %}">参考になった！</a>
                      </div>
                      <div>
                      {{post.like_num}}件
                      </div>
                  </div>
                  </div>
              </div>
          </div>
      </div>
  </a>
</div>
{% endfor %}




{% endblock %}