{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
    

    <title>En-study（エンスタディ）</title>
</head>

<body>

    <nav class="navbar navbar-expand  navbar-dark flex-column flex-lg-row bd-navbar" style="background-color: #FFA500;" >
        <div class="d-flex col-lg-1">
            <a href="#" class="navbar-brand">
            <img src="{% static 'img/en-study.svg' %}" alt="logo" class="ml-2 mr-3">En-study for TOEIC 
            </a>
        </div>
        <div class="collapse navbar-collapse col-lg-11">
            <ul class="navbar-nav ml-auto mr-5 flex-row">
                    <li class="nav-item ml-5" >
                        <a class="nav-link active" href="{% url 'index' %}">
                            <div class="d-flex">
                                <img src="{% static 'img/home.svg' %}" class="mr-3">
                                <p class="pt-3"><nobr>ホーム</nobr></p>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item ml-5">
                        <a class="nav-link active" href="{% url 'study' %}">
                            <div class="d-flex">
                                <img src="{% static 'img/people.svg' %}" class="mr-3">
                                <p class="pt-3"><nobr>みんなの勉強法</nobr></p>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item ml-5">
                        <a class="nav-link active" href="{% url 'question' %}">
                            <div class="d-flex">
                                <img src="{% static 'img/question.svg' %}" class="mr-3">
                                <p class="pt-3"><nobr>質問部屋</nobr></p>
                            </div>
                        </a>
                    </li>
            </ul>
        </div>
    </nav>

<div id="app">

    <main>
        <div class="container-fluid">
            {% block content %}
            {% endblock %}
        </div>
    </main>
</div>


<footer class="footer w-100">
    <div class="row justify-content-center m-0 p-0">
        <div class="footer-nav">
            <ul class="footer-set my-0">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <li class="footer-item text-white" id="footer-logo"><img src="{% static 'img/en-study.svg' %}" alt="logo" class="ml-2 mr-3"><nobr>En-study for TOEIC</nobr></li>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <a href="{% url 'contact' %}">
                            <li class="footer-item text-white"><nobr>お問い合わせ</nobr></li>
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <a href="{% url 'terms' %}">
                            <li class="footer-item  text-white"><nobr>ご利用規約</nobr></li>
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <a href="{% url 'privacy' %}">
                            <li class="footer-item text-white"><nobr>プライバシーポリシー</nobr></li>
                        </a>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</footer>
<div class="copyright">
    <p class="copyright-set mb-0">
        <span class="copyright-mark align-text-bottom mr-1">©</span>2021 En-Study for TOEIC
    </p>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script>
  new Vue({
    el: '#app',
    delimiters: ['[|[', ']|]'],
    vuetify: new Vuetify()

  })
</script>


</body>

</html>