



<label><input type="checkbox" name="part" value="Part1">Part1</label>
<label><input type="checkbox" name="part" value="Part2">Part2</label>
<label><input type="checkbox" name="part" value="Part3">Part3 </label>
<label><input type="checkbox" name="part" value="Part4">Part4</label>
<label><input type="checkbox" name="part" value="Part5">Part5</label>
<label><input type="checkbox" name="part" value="Part6">Part6</label>
<label><input type="checkbox" name="part" value="Part7">Part7</label>

part = request.POST.getlist["part"]