



<label><input type="checkbox" name="part" value="Part1">Part1</label>
<label><input type="checkbox" name="part" value="Part2">Part2</label>
<label><input type="checkbox" name="part" value="Part3">Part3 </label>
<label><input type="checkbox" name="part" value="Part4">Part4</label>
<label><input type="checkbox" name="part" value="Part5">Part5</label>
<label><input type="checkbox" name="part" value="Part6">Part6</label>
<label><input type="checkbox" name="part" value="Part7">Part7</label>

part = request.POST.getlist["part"]


<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="formpost">
      {% render_field form.title class="form-control" placeholder="タイトルを入力" %}
  </div>
  <div class="formpost">
      {% render_field form.study_time class="form-control" placeholder="平均勉強時間/日を入力" %}
  </div>
  <div class="formpost">
      {% render_field form.group class="form-control" placeholder="分類を入力" %}
  </div>
  <div class="formpost">  
      {% render_field form.part class="form-control" placeholder="ここに入力" %}
  </div>
  <div class="formpost">
      {% render_field form.level class="form-control" placeholder="レベルを入力" %}
  </div>
  <div class="formpost">
      {% render_field form.textbook class="form-control" placeholder="参考書名を入力" %}
  </div>
  <div class="formpost">
      {{ form.image }}
  </div>
  <div class="formpost">
      {% render_field form.content class="form-control" placeholder="勉強法を入力" %}
  </div>
  <button class="btn btn-warning" type="submit">投稿する</button>
</form>