{% extends "app/base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

<a href="{% url 'account_logout' %}">
    <button class="logout-btn py-1 ml-auto">ログアウトする</button>
</a>
<a href="{% url 'account_login' %}">
    <button class="logout-btn py-1 ml-auto">ログインする</button>
</a>
<a href="{% url 'account_signup' %}">
    <button class="logout-btn py-1 ml-auto">サインアップする</button>
</a>



<div class="post-detail-frame mx-auto mt-5">
    <div class="d-flex">
        <img src="{{ post_data.author.profile.image.url }}" alt="">
        <div class="author pl-5">{{post_data.author}}　さんの投稿</div>
        <div class="updated ml-5 mt-2">投稿日:　{{ post_data.created }}</div>
    </div>
    <hr>
    <div class="d-flex">
        <div class="title mx-auto">{{ post_data.title }}</div>
        <div class="study-time mr-5 mt-2">{{ post_data.study_time }}</div>
    </div>
    <div class="level text-right mr-5">レベル:　{{ post_data.level }}</div>
    <div class="group text-right mr-5">分類:　{{ post_data.group }}</div>
    <div class="part text-right mr-5">Part:　
    {% for part in post_data.part.all %} 
        {{ part }}
    {% endfor %}
    </div>
    <div class="d-flex">
    {% if post_data.image %}
        <img class="image ml-5" src="{{ post_data.image.url }}" alt="" style="width:150px; height:auto; object-fit: contain;" />
        <div class="ml-5 content-set">
            <div class="text-book ml-auto mb-3">使用した参考書：<br>{{ post_data.textbook }}</div>
            <hr>
            <div class="content ml-auto mb-5">{{ post_data.content }}</div>
        </div>
    </div>
    {% else %}
        <img class="image" src="{% static 'img/phrase.jpg' %}" alt="" style="width: 150px; height:auto; object-fit: contain;" />
        <div class="ml-5 content-set">
            <div class="text-book ml-auto mb-3">使用した参考書：<br>{{ post_data.textbook }}</div>
            <hr>
            <div class="content ml-auto mb-5">{{ post_data.content }}</div>
        </div>
    </div>
    {% endif %}
</div>

<div class="d-flex justify-content-center align-items-center">
    <div class="btn good-button ml-5 mr-5">
        <a href="{% url 'like' post_data.id %}">参考になった！</a>
    </div>
    <div>
    {{post_data.like_num}}件
    </div>
</div>


{% if request.user == post_data.author %}
    <hr>
    <div class="d-flex mb-5">
        <a class="btn btn-warning mr-2" href="{% url 'post_edit' post_data.id %}">編集する</a>
        <a class="btn btn-danger" href="{% url 'post_delete' post_data.id %}">削除する</a>    
    </div>
{% endif %}


{% for comment in comments %}
    {% if comment.is_parent %}
    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-5 col-sm-12 border-bottom">
            <div>
                <p class="post-text">{{ comment.user }} {{ comment.created }}</p>
                <div class="mb-3">
                    {% if request.user == comment.user %}
                        <a href="{% url 'comment_delete' post_data.pk comment.pk %}" class="edit-color">削除する</a>
                    {% endif %}
                </div>
            </div>
            <p>{{ comment.content }}</p>
            <div class="d-flex flex-row">
            {% if request.user == post_data.author %}
                <div>
                    <button class="remove-default-btn"><i class="far fa-comment-dots" onclick="commentReplyToggle('{{ comment.pk }}')">Reply</i></button>
                </div>
            </div>
            <div class="row justify-content-center mt-3 mb-5 d-none" id="{{ comment.pk }}">
                <div class="col">
                  <form method="POST" action="{% url 'comment_reply' post_data.pk comment.pk %}">
                      {% csrf_token %}
                      <div class="formpost">
                        {% render_field form.content class="form-control" placeholder="ここに入力" %}
                      </div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-success mt-3">Submit!</button>
                        </div>
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    
    {% for child_comment in comment.children %}
    <div class="row justify-content-center mt-3 mb-5 child-comment">
        <div class="col-md-5 col-sm-12 border-bottom">
            <div>
                <p class="post-text">
                {{ child_comment.user }}{{ child_comment.created }}
                </p>
                <div class="mb-3">
                    {% if request.user == child_comment.user %}
                        <a href="{% url 'comment_delete' post_data.pk child_comment.pk %}" class="edit-color">削除する</i></a>
                    {% endif %}
                </div>
            </div>
            <p>{{ child_comment.content }}</p>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endfor %}

{% if request.user != post_data.author %}
<div class="row justify-content-center mt-3">
    <div class="col-md-5 col-sm-12">
        <h5>コメントを追加する。</h5>
    </div>
</div>
<div class="row justify-content-center mt-3 mb-5">
    <div class="col-md-5 col-sm-12">
        <form method="POST">
              {% csrf_token %}
              <div class="formpost">
                  {% render_field form.content class="form-control" placeholder="ここに入力" %}
              </div>
            <div class="d-grid gap-2">
                <button class="btn btn-success mt-3">Submit!</button>
            </div>
        </form>
    </div>
</div>
{% endif %}
  
    

{% endblock %}