{% extends "app/base.html" %}
{% load widget_tweaks %}

{% block content %}

<div class="">{{post_data.author}}</div>
    <h2 class="">{{ post_data.title }}</h2>
    <div class="">{{ post_data.study_time }}</div>
    <div class="">{{ post_data.level }}</div>
    <div class="">{{ post_data.textbook }}</div>
    {% if post_data.image %}
    <img class="" src="{{ post_data.image.url }}" alt="" style="width:100px; height:100px; object-fit:cover;" />
    {% endif %}
    <div class="">{{ post_data.content }}</div>
    <div class="">{{ post_data.updated }}</div>

{% if user.is_authenticated %}
    <hr>
    <div class="d-flex mb-5">
        <a class="btn btn-warning mr-2" href="{% url 'post_edit' post_data.id %}">編集する</a>
        <a class="btn btn-danger" href="{% url 'post_delete' post_data.id %}">削除する</a>    
    </div>
{% endif %}

{% for ask in ask_data %}
<div class="">{{ask.user}}</div>
<div class="">{{ask.content}}</div>
<div class="">{{ask.created}}</div>


{% endfor %}
<form method="post">
    {% csrf_token %}
    <div class="formpost">
        {% render_field form.content class="form-control" placeholder="質問内容を入力する" %}
    </div>
    
    <button class="btn btn-warning" type="submit">質問する</button>
</form>


{% endblock %}