{% extends "app/base.html" %} {% block content %}
{% load static %}

<div class="btnvar">
  <ul class="btn-list d-flex ml-auto">
  {% if user.is_authenticated %}
      <li class="btn-item">
          <a href="{% url 'account_logout' %}">
              <button class="btn mr-1">ログアウトする</button>
          </a>
      </li>
      <li class="btn-item">
          <a href="{% url 'post_new' %}">
              <button class="btn mr-4">投稿する</button>
          </a>
      </li>
  </ul>
  {% else %}
      <li class="btn-item">
          <a href="{% url 'account_signup' %}">
              <button class="btn mr-1">新規登録する</button>
          </a>
      </li>
      <li class="btn-item">
          <a href="{% url 'account_login' %}">
              <button class="btn mr-4">ログインする</button>
          </a>
      </li>
  </ul>
  {% endif %}
</div>


<div class="search-form">
    <p class="keyword-text m-0">キーワード検索</p>
    <div class="search-frame mx-auto">
        {% csrf_token %}
        <form action="  " method="post" class="search_container">
            <input type="text" size="25" name="search" placeholder="例）文法、リスニング、長文">
            <button class="search-btn mt-2" type="submit"><nobr>検索</nobr></button>  
        </form>
    </div>
    <p class="search-result text-center mt-3">キーワード:　○○○の　検索結果　○○件</p>
</div>

<div class="category-search mx-auto w-75">
    <hr>
    <div class="category-name mb-2"><span class="line">― ― ―分類― ― ―</span></div>
    <ul class="category-list">
        {% for group in group_data %}
        <a href="{% url 'group' group %}">
          <li class="category-item">{{group}}</li>
        </a>
        {% endfor %}
    </ul>
    <div class="category-name mb-2"><span class="line">― ― ―Part― ― ―</span></div>
    <ul class="category-list">
        {% for part in part_data.all %}
        <a href="{% url 'part' part %}">
          <li class="category-item">{{part}}</li>
        </a>
        {% endfor %}
    </ul>
    <div class="category-name mb-2"><span class="line">― ― ―平均勉強時間／日― ― ―</span></div>
    <ul class="category-list">
        {% for study_time in study_time_data %}
        <a href="{% url 'study_time' study_time %}">
          <li class="category-item">{{study_time}}</li>
        </a>
        {% endfor %}
    </ul>
    <div class="category-name mb-2"><span class="line">― ― ―レベル― ― ―</span></div>
    <ul class="category-list">
        {% for level in level_data %}
        <a href="{% url 'level' level %}">
          <li class="category-item">{{level}}</li>
        </a>
        {% endfor %}
    </ul>
    <hr>
</div>






{% for post in post_data %}
<div class="study-container mx-auto mt-2 w-100">
    <a href="{% url 'post_detail' post.id %}" class="study-anchor">
        <div class="study-frame mx-auto col-sm-12 col-md- col-lg-8 p-0">
            <div class="frame-top mb-1"></div>
            <div class="study-author d-flex w-100 pl-5">
                <div class="icon-frame mt-2 mr-4 mt-3 text-center">
                    <img src="{{ post.author.icon.url }}" alt="" class="icon my-2 study-icon" style="height: 40px; width: 40px;">
                </div>
                <div class="author-name h2 mt-3">
                    <p class="author">{{post.author.name}}さん</p>
                </div>
            </div>
            <hr class="study-author-line study-line w-100 mt-0">
            <div class="d-flex study-content w-100 pb-4">
                <div class="study-list mt-5 ml-3" >
                    <img src="{{ post.image.url }}" alt="" class="icon study-icon" style="height: 200px; width: auto; object-fit: contain;">
                </div>
                <div class="study-list w-100 ml-4">
                    <div class="d-flex">
                        <p class="study-item h3">{{ post.title }}</p>
                        <div class="level_time mr-5">
                            <p class="study-item">レベル：{{ post.level }}</p>
                            <p class="study-item">平均勉強時間/日：{{ post.study_time }}</p>
                            <p class="study-item">分類：{{ post.group }}</p>
                            <p class="study-item">Part:
                              {% for part in post.part.all %} 
                              {{ part }}
                              {% endfor %}
                            </p>
                        </div>
                    </div>  
                    <p class="study-book ">参考書名:{{ post.textbook }}</p>
                    <hr class="text-bool-line study-line" style="width: 200px;">
                    <p class="study-content"><span class="how-to-study">勉強法:</span><div class="">{{ post.content }}</p>
                    <div class="d-flex good-frame mr-2 w-50 ml-auto">
                        <div class="d-flex justify-content-center align-items-center">
                        <div class="btn good-button ml-5 mr-5">
                            <a href="{% url 'study_like' post.id %}">参考になった！</a>
                        </div>
                        <div>
                        {{post.like_num}}件
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
{% endfor %}










{% endblock %}
